---
const personalImageAlt = "Jorge Diaz";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I began my career in forensics, but I soon discovered that my true passion
      lay in technology. Watching my colleagues bring their ideas to life
      through code sparked a deep interest in software development, leading me
      to redirect my professional path toward this discipline.
    </p>

    <p>
      Currently, I have knowledge of <strong
        >JavaScript, TypeScript, React, and Next.js</strong
      >, and I also implement them with <strong>React Native and Flutter</strong
      > for mobile app development. My focus is on creating efficient, accessible,
      and user-experience-centered solutions.
    </p>

    <p>
      I'm motivated by continuous learning and problem-solving, enjoying both
      teamwork and the challenge of building high-impact products.
    </p>
  </div>
</article>
